<div>
    <button @onclick="Close" class="btn btn-primary">Ok</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    void Close() => BlazoredModal.CloseAsync(ModalResult.Ok(true));
}