@inject AppState appState
@inject NavigationManager NavManager

@if (appState.Config.AppType == "Desktop")
{
    @if (appState.SignedIn && appState.User != null)
    {
        <MudMenu Direction="MudBlazor.Direction.Right" OffsetX="true" Dense="true" Class="mt-1 ml-4">
            <ActivatorContent>
                <MudText Typo="Typo.body2" Class="px-4 py-2"> Hello, @appState.User.DisplayName!</MudText>
            </ActivatorContent>
            <ChildContent>
                <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="SignOut" />
            </ChildContent>
        </MudMenu>
    }
    else
    { }
}
else
{
    <AuthorizeView>
        <Authorized>
            <MudMenu Direction="MudBlazor.Direction.Right" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                <ActivatorContent>
                    <MudText Typo="Typo.body2" Class="px-4 py-2"> Hello, @context.User.Identity.Name!</MudText>
                </ActivatorContent>
                <ChildContent>
                    <div tabindex="0" class="mud-list-item mud-list-item-dense mud-list-item-gutters mud-list-item-clickable mud-ripple">
                        <div class="mud-list-item-icon">
                            <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"></path>
                            </svg>
                        </div>
                        <div class="mud-list-item-text ">
                            <MudLink Class="mud-typography mud-typography-body2 mud-inherit-text" Href="MicrosoftIdentity/Account/SignOut">Log Out</MudLink>
                        </div>
                    </div>
                </ChildContent>
            </MudMenu>
        </Authorized>
        <NotAuthorized>
            <MudLink Href="MicrosoftIdentity/Account/SignIn">Log in</MudLink>
        </NotAuthorized>
    </AuthorizeView>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        appState.OnChange += RaiseStateHasChanged;
    }

    private void SignIn()
    {
        appState.SignInRequested = true;
    }

    private void SignOut()
    {
        if (appState.Config.AppType == "Desktop")
        {
            appState.SignOutRequested = true;
            NavManager.NavigateTo("/");
        }
        else
        {
            NavManager.NavigateTo("MicrosoftIdentity/Account/SignOut");
        }
    }

    public void Dispose()
    {
        appState.OnChange -= RaiseStateHasChanged;
    }

    private void RaiseStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    }