@page "/about"
@inject ISettingsService SettingsService
@inject IJSRuntime js
@inject AppInfo _appInfo
<div class="container text-body" style="overflow:hidden">
    <div class="row">
        <div class="container-fluid">
            <div class="row-fluid">
                <div>
                    <div class="w-20">
                        <img src="/_content/PresenceLight.Razor/profileimage.jpg" width="300" />
                    </div>
                    <div class="w-20">
                        &nbsp;
                    </div>
                    <div class="w-70">
                        <h2>PresenceLight by Isaac Levin</h2>
                        <br />
                        <h6><a href="https://github.com/isaacrlevin/presencelight" target="_blank">https://github.com/isaacrlevin/presencelight</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="w-25">
            <h4>Application Type</h4>
        </div>
        <div class="w-50">
            @appType
        </div>
    </div>
    <div class="row">
        <div class="w-25">
            <h4>Application Version</h4>
        </div>
        <div class="w-50">
            @assemblyVersion
        </div>
    </div>
    <div class="row">
        <div class="w-25">
            <h4>Install Location</h4>
        </div>
        <div class="w-50">
            @installLocation
        </div>
    </div>
    <div class="row">
        <div class="w-25">
            <h4>Install Date</h4>
        </div>
        <div class="w-50">
            @installedDate
        </div>
    </div>
    <div class="row">
        <div class="w-25">
            <h4>Runtime Version</h4>
        </div>
        <div class="w-50">
            @RuntimeVersionInfo
        </div>
    </div>
    <div class="row">
        <div class="w-25">
            <h4>Configuration Path</h4>
        </div>
        <div class="w-50">
           <a href="" @onclick:preventDefault @onclick="@((ev) => DownloadSettings(@localConfigurationPath))" title="Click to Download @@localConfigurationPath">@localConfigurationPath</a>  
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="w-100">
            <h6>Found an issue or want a feature? File it <a href="https://github.com/isaacrlevin/PresenceLight/issues/new/choose" target="_blank">here</a></h6>
        </div>
    </div>
</div>

@code {
    string installLocation;
    string installedDate;
    string RuntimeVersionInfo;
    string assemblyVersion;
    string localConfigurationPath;
    string appType;
    protected override void OnInitialized()
    {
        appType = _appInfo.GetAppInstallType();
        installLocation = _appInfo.GetInstallLocation();
        installedDate = _appInfo.GetInstallationDate();
        RuntimeVersionInfo = _appInfo.GetDotNetRuntimeInfo();
        assemblyVersion = _appInfo.GetApplicationVersion();
        localConfigurationPath = new System.IO.FileInfo(SettingsService.GetSettingsFileLocation()).FullName;
    }

        async Task DownloadSettings(string filename)
    {
        string fileContents;
        using (var fs = new System.IO.FileStream(
                filename,
                System.IO.FileMode.Open,
                System.IO.FileAccess.Read,
                System.IO.FileShare.ReadWrite))
        {
            var b = new byte[fs.Length];

            fs.Read(b, 0, b.Length);
            fileContents = Convert.ToBase64String(b);
        }

        await js.InvokeAsync<object>(
                   "saveAsFile",
                   filename,
                   fileContents);
    }
}
