@page "/color"

@using LifxCloud.NET.Models
@inject AppState appState
@inject IOptionsMonitor<BaseConfig> Config
@inject IJSRuntime jsRuntime;
@inject ILogger<Color> _logger;

<div class="container text-body">
    <div class="row">
        <div class="container-fluid">
            <div class="row-fluid">
                <div>
                    <h1>Set Light Colors</h1>
                    <br />
                    <br />
                    <div style="width: 85%">
                        <div id="extraPicker" class="colorPicker"></div>
                    </div>
                    <br />
                    <button @onclick="SetColor" class="btn btn-primary">Set Color</button>
                    <button disabled="@isGraphDisabled" @onclick="SyncTeamsPresence" class="btn btn-primary">Sync Teams Presence</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    bool isGraphDisabled = false;
    string color;


    async Task SetColor()
    {
        try
        {
            color = await jsRuntime.InvokeAsync<string>("getColor");

            appState.SetLightMode("Custom");
            isGraphDisabled = false;

            if (appState.LightMode == "Custom")
            {
                appState.SetCustomColor(color);
            }

            if (appState.LightMode == "Custom")
            {
				 if (!string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.HueApiKey) && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.HueIpAddress) && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.SelectedItemId))
                {
                    if (Config.CurrentValue.LightSettings.Hue.UseRemoteApi)
                    {
                        if (!string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.RemoteBridgeId))
                        {
                            await _mediator.Send(new Core.RemoteHueServices.SetColorCommand
                            {
                                Availability = appState.CustomColor,
                                LightId = Config.CurrentValue.LightSettings.Hue.SelectedItemId,
                                BridgeId = Config.CurrentValue.LightSettings.Hue.RemoteBridgeId
                            }).ConfigureAwait(true);
                        }
                    }
                    else
                    {
                        await _mediator.Send(new Core.HueServices.SetColorCommand() { Activity = appState.CustomColor, Availability = appState.CustomColor, LightID = Config.CurrentValue.LightSettings.Hue.SelectedItemId }).ConfigureAwait(true);

                    }
                }

                if (Config.CurrentValue.LightSettings.LIFX.IsEnabled && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.LIFX.LIFXApiKey))
                {
                    await _mediator.Send(new Core.LifxServices.SetColorCommand() { Availability = appState.CustomColor, Activity = appState.CustomColor, LightId = Config.CurrentValue.LightSettings.LIFX.SelectedItemId }).ConfigureAwait(true);
                }

                if (Config.CurrentValue.LightSettings.Yeelight.IsEnabled && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Yeelight.SelectedItemId))
                {
                    await _mediator.Send(new PresenceLight.Core.YeelightServices.SetColorCommand { Activity = appState.CustomColor, Availability = appState.CustomColor, LightId = Config.CurrentValue.LightSettings.Yeelight.SelectedItemId }).ConfigureAwait(true);
                }

                if (Config.CurrentValue.LightSettings.CustomApi.IsEnabled)
                {
                    string response = await _mediator.Send(new Core.CustomApiServices.SetColorCommand
                    {
                        Activity = appState.CustomColor,
                        Availability = appState.CustomColor
                    });
                }

                if (Config.CurrentValue.LightSettings.Wiz.IsEnabled)
                {
                    await _mediator.Send(new Core.WizServices.SetColorCommand
                    {
                        Activity = appState.CustomColor,
                        Availability = appState.CustomColor,
                        LightID = Config.CurrentValue.LightSettings.Wiz.SelectedItemId
                    });
                }
            }
        }
        catch (Exception e)
        {
            _logger.LogError(e, "Error Occured Setting Custom Color");
            throw;
        }
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadColor");
        }
        base.OnAfterRender(firstRender);
    }

    void SyncTeamsPresence()
    {
        isGraphDisabled = true;
        appState.SetLightMode("Graph");
    }

    protected override void OnInitialized()
    {
        appState.OnChange += RaiseStateHasChanged;
    }

    public void Dispose()
    {
        appState.OnChange -= RaiseStateHasChanged;
    }

    private void RaiseStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
