@page "/color"

@using LifxCloud.NET.Models
@inject AppState appState
@inject IOptionsMonitor<BaseConfig> Config
@inject IHueService _hueService;
@inject LIFXService _lifxService;
@inject IJSRuntime jsRuntime;
@inject ILogger<Color> _logger;

<div class="container text-body">
    <div class="row">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="centering text-center">
                    <h1 class="centering text-center">Set Light Colors</h1>
                    <br />
                    <br />
                    <div id="extraPicker" class="colorPicker"></div>
                    <br />
                    <button @onclick="SetColor" class="btn btn-primary">Set Color</button>
                    <button disabled="@isGraphDisabled" @onclick="SyncTeamsPresence" class="btn btn-primary">Sync Teams Presence</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    bool isGraphDisabled = false;
    string color;


    async Task SetColor()
    {
        try
        {
            color = await jsRuntime.InvokeAsync<string>("getColor");

            appState.SetLightMode("Custom");
            isGraphDisabled = false;

            if (appState.LightMode == "Custom")
            {
                appState.SetCustomColor(color);
            }

            if (appState.LightMode == "Custom")
            {
                if (!string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.HueApiKey) && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.HueIpAddress) && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.Hue.SelectedHueLightId))
                {
                    await _hueService.SetColor(appState.CustomColor, Config.CurrentValue.LightSettings.Hue.SelectedHueLightId);
                }

                if (Config.CurrentValue.LightSettings.LIFX.IsLIFXEnabled && !string.IsNullOrEmpty(Config.CurrentValue.LightSettings.LIFX.LIFXApiKey))
                {
                    await _lifxService.SetColor(appState.CustomColor, Config.CurrentValue.LightSettings.LIFX.SelectedLIFXItemId);
                }
            }
        }
        catch (Exception e)
        {
            Helpers.AppendLogger(_logger, "Error Occured Setting Custom Color", e);
            throw e;
        }
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadColor");
        }
        base.OnAfterRender(firstRender);
    }

    void SyncTeamsPresence()
    {
        isGraphDisabled = true;
        appState.SetLightMode("Graph");
    }

    protected override void OnInitialized()
    {
        appState.OnChange += RaiseStateHasChanged;
    }

    public void Dispose()
    {
        appState.OnChange -= RaiseStateHasChanged;
    }

    private void RaiseStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
