name: Winget
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The latest version'
        required: true

jobs:
  publish:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
        working-directory: ${{ github.workspace }}/Build/winget
    env:
      WINGETCREATE_TOKEN: ${{ secrets.WINGETCREATE_TOKEN }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Create manifest and submit PR
      run: |
        ./build.ps1 -Version "${{ github.event.inputs.version }}" -Token $env:WINGETCREATE_TOKEN
